# Dart / Flutter
.dart_tool/
.packages
.pub/
build/

# Flutter plugins
.flutter-plugins
.flutter-plugins-dependencies

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store

# Package lock files are typically not published for packages
pubspec.lock
